.countdown-timer-box {
  background: linear-gradient(to right, #ff7f50, #ffd801);
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: mediumpurple;
  text-align: center;
  padding: 15px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

