.countdown-timer-box {
  background: linear-gradient(to right, #4d9eff, #18e4ec);
  font-family: 'Arial', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #360a62;
  text-align: center;
}

.marquee {
  animation: 1ms linear infinite;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

:root {
  --purple: #9370d8;
  --violet: #ac82ff;
  --yellow: #ffd801;
  --orange: #ff7f50;
  --futuristic-dark-blue: #0a0f0d;
  --futuristic-cyan: #7efeff;
  --futuristic-purple: #8a3ff5;
  --futuristic-violet: #b36fff;
  --futuristic-pink: #ff218e;
  --futuristic-bright-blue: #4d9eff;
  --light-gray: #96a1a7;
  --black: #000000;
  --lighterblack: #312f2f;
  --googray: #145db6;
  --pink: #eb37c5;
  --purple: #360a62;
  --blue: #2503fb;
  --cyan: #18e4ec;
  --brighterpurp: #ad50f0;
}


@keyframes background-pan {
  from {
    background-position: 0 center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {

  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

h1>.magic {
  display: inline-block;
  position: relative;
}

h1>.magic>.magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1>.magic>.magic-star>svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1>.magic>.magic-star>svg>path {
  fill: var(--violet);
}

h1>.magic>.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--orange),
      var(--yellow),
      var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.schedule {
  opacity: 0;
}

.schedule.animated {
  animation: moveright 0.5s linear forwards;
}

.schedule.animated:nth-child(2) {
  animation-delay: 0.5s;
}

.schedule.animated:nth-child(3) {
  animation-delay: 1s;
}

@media (max-width: 640px) {

  .schedule.animated:nth-child(2),
  .schedule.animated:nth-child(3) {
    animation-delay: 0s;
  }
}


@keyframes moveright {
  0% {
    opacity: 50%;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hero-container {
  display: flex;
  flex-direction: row; /* Align children side by side */
  align-items: center; /* Center children vertically */
  justify-content: center; /* Center children horizontally */
  min-height: 90vh; /* Adjust to desired height, this is less than full viewport height */
  background-color: #360a62; /* Your chosen background color */
  background-image: url('media/grid.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Adjust .centered-image if it's still in use or replace with .husky-image */
.husky-image {
  max-width: 30%; /* Adjust the size of your image as needed */
  margin-right: 2rem; /* Adds some space between the image and the text */
}

.text-container {
  text-align: left; /* Aligns the text to the left */
}


.theme-title {
  font-size: 4rem; /* Large text for the theme */
  color: #FFFFFF; /* White text color */
  margin: 0; /* Removes default margins */
  font-family: 'Stacker', sans-serif;
}

.theme-location-time {
  font-size: 2rem; /* Large text for location and time */
  color: #FFFFFF; /* White text color */
  margin: 0; /* Removes default margins */
  font-family: 'Stacker', sans-serif;
}

.theme-title {
  font-size: 4rem; /* Large text for the theme */
  background: linear-gradient(
    to right,
    var(--pink), 
    var(--violet), 
    var(--futuristic-bright-blue), /* Increased the lighter color area */
    var(--cyan),
    var(--futuristic-bright-blue), /* Repeat to ensure visibility */
    var(--violet),
    var(--pink)
  );
  -webkit-background-clip: text;
  color: transparent; /* Make the text transparent to show the gradient */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Fallback for older browsers */
  display: inline-block; /* Required for gradients on text */
}



.paw-icon {
  height: 40px; /* Adjust the size as needed */
  width: auto; /* To maintain the aspect ratio */
  margin-left: 10px; /* Add some space between the text and the image */
  vertical-align: middle; /* Align it with the text */
}

/* Adjustments to the content container */
.content-container {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start (left) */
  max-width: 1200px; /* Maximum width of the content container */
  margin-left: auto; /* Margin left auto to push the container to the right */
  margin-right: auto; /* Margin right auto for centering when there's enough space */
  padding-left: 2%; /* Adjust the padding to align with the left edge as needed */
  padding-right: 2%; /* Padding right to maintain symmetry */
}

.club-logos-and-presents {
  display: flex; /* Display the logos and text inline */
  align-items: center; /* Align items vertically */
  margin-bottom: 2px; /* Space between this content and the title */
}

/* Adjust the size of the logos if needed */
.club-logos {
  width: auto; /* Keep width auto to maintain aspect ratio */
  height: 30px; /* Increase the height as needed, this example increases it to 60px */
  margin-right: 10px; /* Space between logos and 'Presents...' text */
}

.presents-text {
  font-size: 1em; /* Adjust the font size as necessary */
  color: #ffffff; /* Text color */
  margin: 0; /* Remove default margins */
  font-family: 'Stacker', sans-serif;
}

/*Sponsor.js classesr*/
.sponsors-container {
  text-align: center;
  padding: 20px;
  background-color: black; /* Background color to match the hero section */
  color: #ffffff; /* Text color */
}

.sponsor-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Stacker', sans-serif; /* Matching font family */
  color: #ffd801; /* Adjusting to a color that matches the site theme */
  margin-bottom: 30px; /* Adjust the space below the header */
}

.husky-paw {
  margin: 0 15px; /* Space around the paw images */
  width: 40px; /* Size of the paw images */
  height: auto; /* Maintain aspect ratio */
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sponsor-logo-container {
  margin: 20px; /* Space around each sponsor logo */
  padding: 10px; /* Padding inside the logo container */
  border: 2px solid var(--yellow); /* Border around the logo container, matching the theme */
  border-radius: 10px; /* Rounded corners of the logo container */
  background-color: var(--black); /* White background for contrast */
  width: 200px; /* Width of the logo container */
  height: 100px; /* Height of the logo container */
}

.sponsor-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Prevents distortion of logos */
}
