.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin-left: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.header-nav li:first-child {
  margin-left: 0;
}

.header-nav a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.header-nav a:hover {
  text-decoration: underline;
}

.countdown-timer-box {
  background: linear-gradient(to right, #ff7f50, #ffd801);
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: mediumpurple;
  text-align: center;
  padding: 15px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.box p {
  font-size: 16px;
  margin-bottom: 0;
}

